<div class=" card card-tasks">
    <div class=" card-header">
        <h6 class=" title d-inline">Newsletter({{newslist.length}})</h6>
        <p class=" card-category d-inline">today</p>
        <div ngbDropdown>
            <button class=" btn btn-link btn-icon" data-toggle="dropdown" ngbDropdownToggle type="button">
                <i class=" tim-icons icon-settings-gear-63"> </i>
            </button>
            <div aria-labelledby="dropdownMenuLink" class=" dropdown-menu-right" ngbDropdownMenu>
                <a href="javascript:void(0)" ngbDropdownItem> Action </a>
                <a href="javascript:void(0)" ngbDropdownItem> Another action </a>
                <a href="javascript:void(0)" ngbDropdownItem> Something else </a>
            </div>
        </div>
    </div>
    <div class=" card-body">
        <div class=" table-full-width table-responsive">
            <table class=" table" style="table-layout: fixed">
                <tbody>
                    <app-news-item 
                    *ngFor="let news of newslist" 
                    [news]="news"
                    ></app-news-item>
                </tbody>
            </table>
        </div>
    </div>
</div>