<tr>
  <!-- <td> -->
  <!-- disabled checkbox -->
  <!-- <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" value="" />
        <span class="form-check-sign">
          <span class="check"> </span>
        </span>
      </label>
    </div> -->
  <!-- </td> -->
  <td>
    <a class="title" href="{{ news.url }}">{{ news.title }}</a>
    <p class="text-body">
      {{ news.author }}
    </p>
    <p class="text-muted">
      {{ news.description }}
    </p>
    <!-- ADD AUTHOR TIME AND URL -->
  </td>
  <!-- <td class="td-actions text-right">
    <button
      class="btn btn-link"
      type="button"
      placement="left"
      ngbTooltip="Edit Task"
      container="body"
    >
      <i class="tim-icons icon-pencil"> </i>
    </button>
  </td> -->
</tr>
